<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--服务号用户名-->
    <!--<add key="UserName" value="meten_cn@163.com"/>-->
    <add key="UserName" value="meten_2016@163.com"/>
    <!--服务号密码-->
    <!--<add key="PWD" value="Meten1515lasedu"/>-->
    <add key="PWD" value="meten20160101"/>
    <!--下载的间隔时间  以分钟为单位-->
    <add key="IntervalMinutes" value="10"/>
    <!--上传数据的URL-->
    <add key="UploadURL" value="http://api.metenedu.cn/index.php/Tddlead/add_user"/>
    <!--发送短信的URL-->
    <add key="SendMSGURL" value="http://api.metenedu.cn/index.php/SmsLead/index"/>
    <!--上传数据 0:不上传 1:上传-->
    <add key="UpdateData" value="0"/>
    <!--发送报警 0:不发送 1:发送-->
    <add key="SendError" value="0"/>
    <!--设置超时时间  以分钟为单位-->
    <add key="TimeOutMinutes" value="30"/>
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
</configuration>